<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Social Share</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>

div.gallery {
    border: 1px solid #ccc;
    background-color: #ffffff;
    height:80%;
    width:70%
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 80;
    height: 60;
    padding: 10px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 400px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 200px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
    color: #438D80;
}

</style>
</head>
<body>
 
	<h2 style="color:#56A5EC;">Other Related Topics we thought might also interest you and your followers...</h2>
    
    <div class="responsive" th:each="doc,iterationStatus  : ${docs}">
  	<div class="gallery">

     <img th:src="@{${'http://localhost:8080/images?t=' + iterationStatus.count}}" width="80" height="60"/>
     <div class="desc" style="color:#FFFFFF;"><a th:text="${doc.title}" th:href="${doc.url}" target="_parent"></a></div>
  </div>
</div>
    

</body>
</html>